Applications/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Self Development/
Songwriting/
Voice Overs/
.DS_Store
.Trash/
.amplify/
.aws/
.cache/
.config/
.docker/
.gnupg**/
.gitconfig
.gradle/
.hidden/
.hushlogin/
.jetbrains/
.jexec.txt
.keras
.kube/
.local/
.mfcrc
.node-gyp/
.node_repl_history
.npm/
.oracle_jre_usage/
.python_history
.sh_history
.ssh/
.swt/
.bash_sessions/
.bash_history
.umi/
.umi3/
.vscode/
.wget-hsts
.yarnrc
.viminfo
.hushlogin